[submodule "thirdparty/rexglue-sdk"]
	path = thirdparty/rexglue-sdk
	url = https://github.com/TheBiemGamer/rexglue-sdk.git
[submodule "thirdparty/hidapi"]
	path = thirdparty/hidapi
	url = https://github.com/libusb/hidapi.git
